.product-title {
    margin-top: 100px;
    font-family: Play,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
  
}

iframe {
    height: 300px;
}

.main-poster {
    width: 100%;
    height: 100%;
}

.product-specification {
    margin-top: 25px;
    background: #343A40;
    height: 470px;
}

.product-main {
    background: #343A40;
}

.about {
    height: 500px;
    background: #343A40;
    margin-top: 20px;
}

.gallery {
    padding-bottom: 1px;
    background: #343A40;
}

.buy-button {
    width: 100%;
    height: 100px;
    background: #0094E9;
}
.description {
    font-family: 'Russo One', sans-serif;
    width: 100%;
    background: #343A40;
    padding: 20px;
    color: #f3f3f3;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff; 
    }

.sys-req-item {
    margin-top: 15px;
    color: #f3f3f3;
}