@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background:
              -webkit-linear-gradient(88deg, hsla(89.93, 0%, 16.02%, 1) 0%, hsla(89.93, 0%, 16.02%, 0) 65%),
              -webkit-linear-gradient(315deg, hsla(330.67, 0%, 12.8%, 1) 0%, hsla(330.67, 0%, 12.8%, 0) 70%),
              -webkit-linear-gradient(135deg, hsla(347.14, 44.69%, 18.32%, 1) 15%, hsla(347.14, 44.69%, 18.32%, 0) 80%),
              -webkit-linear-gradient(205deg, hsla(96.53, 0%, 0%, 1) 100%, hsla(96.53, 0%, 0%, 0) 70%);
    background:
              linear-gradient(2deg, hsla(89.93, 0%, 16.02%, 1) 0%, hsla(89.93, 0%, 16.02%, 0) 65%),
              linear-gradient(135deg, hsla(330.67, 0%, 12.8%, 1) 0%, hsla(330.67, 0%, 12.8%, 0) 70%),
              linear-gradient(315deg, hsla(347.14, 44.69%, 18.32%, 1) 15%, hsla(347.14, 44.69%, 18.32%, 0) 80%),
              linear-gradient(245deg, hsla(96.53, 0%, 0%, 1) 100%, hsla(96.53, 0%, 0%, 0) 70%);
}

.tmp {
    padding: 20px;
    background: #337ab7;
}




.left-arrow, .right-arrow {
    padding-top: 100px; /*нужное значение */
    
}

.catalog {
    background: #F3F3F3;
    display: block;
    height: 100%;
    padding: 0;
}



.main-slider {
    position: relative;
    background: #1d1f22;
    margin-bottom: 23px;
    padding-top: 30px;
    width: 100%;
    padding: 50px;
}

.container-slider {

    max-width: 845px;
    padding: 0 0px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    background: #337ab7;
}

.left-column{
    background: #343A40;
}


.right-column {
    background: #343A40;
    height: 500px;
}

.block {
    background: #343A40;
    height: 100px;
    color: #f3f3f3;
    margin: 15px 0px;
    transition: 0.25s;
    display: flex;
}

.catalog-item-img{
    height: 100%;
    max-height:100%;
    width:auto;
}

img{
    height:100%;
}


.catalog-item-content {
    padding: 10px;
    font-family: 'Russo One', sans-serif;
}
.catalog-item-prace {
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px; 
    
}
.ganre {
    display: flex;
    align-items: flex-end;
    margin-top: 1em;
    font-family: "Open Sans";
    font-size: 12px;
}

.original-price {
    text-align: center;
    display: inline-block;
    padding: 0 5px;

    border: 1px solid #343A40;
   
}


.discount {
    background: #F6325C;
    border: 1px solid #343A40;
    text-align: right;
    display: inline-block;
    padding: 0 5px;
}

.final-price {
    border: 1px solid #343A40;
    padding: 0 5px;
    margin-top: 7px; 
    text-align: right;
    font-size: 20px;
}

del {
    position: relative;
    text-decoration: none;
}

    del:before {
        content: "";
        width: 100%;
        height: 0.1em;
        background: #F6325C;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(-20deg);
    }

.tabs-area {
    width: 100%;
    display: flex;
}

.nav-link{
    color: #f3f3f3;
}

    .nav-link:hover {
        color: #f3f3f3;
        color: #F6325C;
    }

.tabs-area a {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    color: #f3f3f3;
    margin-left: 10px;
    padding: 5px 10px;
    transition: .2s linear;
    text-decoration: none;
}


.tabs-area a:hover {
    text-decoration: none;
    color: #F6325C;
}

.line{
    margin-top: 3px;
    width: 100%;
    height: 1px;
    background: #F6325C;
}

.current{
    color: #F6325C !important;
}
.block:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(246,50,92,0.9);

}
a:hover {
    text-decoration: none;
}
.ganres {
    color: #f6325c;
    font-size: 20px;
    margin: 10px 0px;
}

.ganre-item {
    width: 100%;
    height: 40px;
    margin-left: 15px;
    color: #f3f3f3;
  
    
}

.discount-item {
    position: relative;
    width: 100%;
    height: 120px;
    border: 1px solid black;
    margin: 4px 0px;
}





.discount-header {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    color: #f3f3f3;
    padding-top: 10px;
   
}

.description-item {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 30px;
    padding: 5px;
}

.description-item {
    font-family: 'Open sans', sans-serif;
    font-size: 15px;
    color: #f3f3f3;
   
}

.fin-price {
    font-size: 22px;
    font-weight: bold;
}