@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.catalog {
    background: #F3F3F3;
    display: block;
    height: 100%;
    padding: 0;
}



.main-slider {
    position: relative;
    background: #1d1f22;
    margin-bottom: 23px;
    padding-top: 30px;
    width: 100%;
    padding: 50px;
}

.container-slider {
    max-width: 845px;
    padding: 0 0px;
    margin: 0 auto;
    position: relative;
    background: #337ab7;
}

.container {
    background: grey;
}

#scrolList {
   
}

.left-column{
    background: #343A40;
    height: 500px;
}


.right-column {
    background: #343A40;
    height: 500px;
    
}

.block {
    background: #343A40;
    height: 100px;
    color: #f3f3f3;
    margin: 15px 0px;
    display: flex;
}

.catalog-item-img{
    height: 100%;
    max-height:100%;
    width:auto;
}

img{
    height:100%;
}


.catalog-item-content {
    padding: 10px;
    font-family: 'Russo One', sans-serif;
}
.catalog-item-prace {
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px; 
    
}
.ganre {
    display: flex;
    align-items: flex-end;
    margin-top: 1em;
    font-family: "Open Sans";
    font-size: 12px;
}

.original-price {
    text-align: center;
    display: inline-block;
    padding: 0 5px;

    border: 1px solid #343A40;
   
}


.discount {
    background: #F6325C;
    border: 1px solid #343A40;
    text-align: right;
    display: inline-block;
    padding: 0 5px;
}

.final-price {
    text-align: center;
    border: 1px solid #343A40;
    padding: 0 5px;
    margin-top: 7px; 
    text-align: center;
    font-size: 20px;
}

del {
    position: relative;
    text-decoration: none;
}

    del:before {
        content: "";
        width: 100%;
        height: 0.1em;
        background: #F6325C;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(-20deg);
    }