
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containet">
    <div class="cart-page-header">
        Оформление заказа
    </div>
    
    <div class="cart-item-list">

    </div>

</div>   