@model IEnumerable<Bazaar.Domain.ViewModel.FaqItemViewModel>



@foreach (var item in Model)
{
    <div class="acc effect7">
        <h3>@item.Question</h3>
        <div class="content">
            <div class="content-inner">
                <p>@item.Answer</p>
            </div>
        </div>
    </div>
}
