@model IEnumerable<Bazaar.Areas.Admin.ViewModel.FaqItemViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Faq</h2>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col m-0 p-0">
                <div class="faq-header">

                    <div class="row">
                        <div class="col">
                            <div class="faq-header-title">Добро пожаловать в службу поддержки Bazar!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="faq-header-subtitle">Как мы можем вам помочь?</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



<div class="container">
    <div class="faq-title">Популярные вопросы :</div>
    @Html.Partial("_FaqItem", Model)
</div>
   


   




</div>

@section scripts
{

    <script>
        $(document).ready(function () {
            $('.acc h3').click(function () {
                $(this).next('.content').slideToggle();
                $(this).parent().toggleClass('active');
                $(this).parent().siblings().children('.content').slideUp();
                $(this).parent().siblings().removeClass('active');
            });
        });
    </script>



}

